{% extends "base.html" %}

{% block content %}

{% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.index_top %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle ads-responsive"
       data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
       data-ad-slot="{{ GOOGLE_ADSENSE.ads.index_top }}"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endif %}

  <header>
    <h1>RS Group, EVA4 Phase2 Submissions.</h1>
    <p>All the group assignments for EVA4 Phase2 are listed here.</p>
  </header>
  <section class="tiles">
    {% for article in articles_page.object_list %}
      <article class="style{{ loop.index % 7 }}">
        <span class="image">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/pic0{{loop.index % 7}}.jpg" alt="" />
        </span>
        <a href="{{ SITEURL }}/{{ article.url }}">
          <h2>{{ article.title }}</h2>
          <!-- <div class="content">
            {% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
            <p>{{ article.summary }}</p>
            {% endif %}
          </div> -->
        </a>
      </article>
    {% endfor %}
  </section>

{% include "partial/pagination.html" %}

{% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.index_bottom %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle ads-responsive"
       data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
       data-ad-slot="{{ GOOGLE_ADSENSE.ads.index_bottom }}"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
{% endif %}

{% endblock %}
