# This is a basic workflow to help you get started with Actions

name: Frontend Deploy

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ci:
    strategy:
      matrix:
        python_version: [3.8]
        poetry_version: [1.0]
    # The type of runner that the job will run on
    runs-on: macos-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install AWS CLI
        run: |
          curl "https://awscli.amazonaws.com/AWSCLIV2.pkg" -o "AWSCLIV2.pkg"
          sudo installer -pkg AWSCLIV2.pkg -target /
          which aws
          aws --version
      - name: Install Poetry
        run: |
          wget https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py
          python get-poetry.py --preview -y
          source $HOME/.poetry/env
      - name: Install Python dependencies
        run: |
          source $HOME/.poetry/env
          poetry install
      # Build Pelican documentation and deploy
      - name: Build the Pelican pages and upload to s3
        env:
          SITE_URL: http://rsgroup.s3-website.ap-south-1.amazonaws.com
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: 'us-east-1'
        run: |
          source $HOME/.poetry/env
          cd frontend
          poetry run pelican-themes -i themes/phantom/
          poetry run make html
          poetry run make s3_upload
